# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Application specific
results/*.csv
results/*.log

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Additional
todo.md
.windsurfrules